<%= render "letters/partial/label_new"%>
<div class="bg-white py-8 rounded-md w-11/12 mx-auto max-w-md">
  <div class=" flex items-center justify-between pb-6">
    <h2 class="text-gray-600 font-semibold">標籤列表</h2>
    <div class="flex">
      <div class="lg:ml-40 ml-10 space-x-8">
        <%= link_to "新增標籤", new_label_path, remote: true, type:"submit", class:"bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer" %>
      </div>
    </div>  
  </div>
  <div>
  <div class="mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
    <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
      <table class="min-w-full leading-normal">
        <thead>
          <tr class="border-b-2 border-gray-200 bg-gray-100">
            <th class="px-5 py-3 text-xs font-semibold text-gray-600 uppercase tracking-wider text-center">標籤</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-xs font-semibold text-gray-600 uppercase tracking-wider">動作</th>
          </tr>
        </thead>
        <tbody>
          <% @labels_with_order.each do |label| %>
            <tr class="border-b">
              <td class="pl-5 py-5 text-sm"><%= label.display %></td>
              <td class="text-center">
                <%= link_to "移除", label_path(label.id), method: 'delete', data: {confirm: "確定要刪除嗎？ \n歸屬於　\"#{label.hierarchy}\"　下的所有標籤也都會被刪除唷！"}, class:"text-sm transition duration-150 hover:bg-gray-200 bg-gray-300 font-semibold py-2 px-4 rounded-l"%>
                <%= link_to "編輯", edit_label_path(label.id), class:"text-sm transition duration-150 hover:bg-gray-200 bg-gray-300 font-semibold py-2 px-4 rounded-r" %>
              </td>
            </tr>
          <% end %>
            <tr class="border-b">
              <td class="text-center py-5">
                <%= link_to "回收件匣", letters_path, class:"w-28 text-white text-sm transition duration-150 hover:bg-gray-200 bg-gray-300 font-semibold py-2 px-4 rounded" %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>