<h1 class="text-2xl">只要$60，便可升級使用標籤!買起來~~</h1>

<%=form_with url: "https://ccore.newebpay.com/MPG/mpg_gateway", method: "post" do |form| %>

  <div class="hidden">
    <%= @form_info %>
    <%= form.text_field :MerchantID, value: @form_info[:MerchantID] %>
    <%= form.text_field :TradeInfo, value: @form_info[:TradeInfo] %>
    <%= form.text_field :TradeSha, value: @form_info[:TradeSha] %>
    <%= form.text_field :Version, value: @form_info[:Version] %>
  </div>

<%= form_with(model: @orders) do |form| %>
  <div>
    <%= form.label :姓名 %>
    <%= form.text_field :姓名 %>
  </div>

  <div>
    <%= form.label :地址 %>
    <%= form.text_field :地址 %>
  </div>
  
    <%= form.submit :確認付款 %>
		<% end %>
    <% end %>